#container {
    background-color: #ececed;
}

.MissionAndValuesContainer {
    font-weight: bold;
    padding: 40px 60px;
    background-color: white;
    width: 90%;
    right: 0px;
    left: 0px;
    margin:auto;
}

.ExcellenceContainer {
    font-weight: bold;
    padding: 40px 60px;
    padding-right: 30px;
    background-color: white;
    margin-bottom: 30px;
    text-align: left;
}

.InnovationContainer {
    font-weight: bold;
    padding: 40px 60px;
    padding-right: 30px;
    background-color: white;
    margin-bottom: 30px;
    text-align: left;
}

.Excellence-InnovationContainer {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin: 30px auto;
    width: 90%;
}

.head-font {
    font-size: 36px;
    font-family: "AvenirLTStd";
    color: rgb( 0, 0, 0);
    text-align: left;
}

.sub-head-font {
    font-size: 22px;
    font-family: "AvenirLTStd";
    color: rgb( 0, 0, 0);
    text-align: left;
}

.p-font {
    font-size: 20px;
    color: rgb( 149, 149, 149);
    font-family: "Avenir";
    justify-self: left;
    align-self: center;
    text-align: left;
}

.sub-p-font {
    font-size: 18px;
    font-family: "Avenir";
    color: rgb( 149, 148, 148);
    text-align: left;
    display: inline;
}

.longdash {
    padding : .2em 0 0 0;
    width : 1em;
    margin : 50px;
    background-color: red;
    margin-left: 0;
}