

.cont-1
{
    display:grid;
    grid-row-gap: 1em;
    background-color: #ececed;
    padding: 2% 10%;
}

/* First Row*/
 
.first-row
{
    display:grid;
    grid-template-areas: "card-1 card-2";
    grid-column-gap: 1em;
    background-color: #ffffff;
    padding: 2% 5%;
    
}


.card-1
{
    grid-area: card-1;
    display:grid;
    grid-template-areas:
        'big-title'
        'card-text'
        'red-button';
    grid-row-gap: 1em;
    justify-items: start;
    background-color: #ffffff;
    padding: 3rem 4rem;
    grid-row: 1;
    grid-column: 1/2;
}

.card-2
{

    grid-area: card-2;
    display:grid;
    grid-template-areas:
        'big-title'
        'card-text'
        'red-button';
    grid-row-gap: 1em;
    justify-items: start;
    background-color: #ffffff;
    padding: 3rem 4rem;
    grid-row: 1;
    grid-column: 2/4;
}

.big-title
{
    grid-area: big-title;
    font-size: 36px;
    color: rgb(0,0,0);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: justify;
    text-justify: inter-word;
    max-width: auto;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    
}

.card-text
{
    grid-area: card-text;
    color: rgb(151,163,179);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: justify;
    text-justify: auto;
    max-width: auto;
    margin: 0%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    
}

.red-button
{
    grid-area: red-button;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 18px;
    color: rgb(230,0,31);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}

/* Second Row*/

.second-row
{
    display:grid;
    grid-template-areas: 
        'main-image'
        'sec-row-text';
}

.main-image
{
    grid-area: main-image;
    background-image: url("city.png");
    min-height: 800px;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.play-button
{
    background-image: url("play.png");
    min-height: 88px;
    min-width: 88px;;
    background-size: auto;
    background-position: center;
    background-color: #e6001f;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.sec-row-text
{
    grid-area: sec-row-text;
    background-color: #ffffff;
    padding-left: 5em;
    padding-right: 20em;
    padding-top: 3em;
    padding-bottom: 3em;
    margin: 0%;
}

.sec-row-text p
{
    text-align: start;
    text-justify: auto;
    text-indent: unset;
    color: rgb(151,163,179);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0%;
}

/* Third Row*/

.third-row
{
    display:grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 60px 173px 173px 60px;
}

.card-3
{
    grid-area: card-3;
    display:grid;
    grid-template-areas:
        'big-title'
        'card-text'
        'red-button';
    grid-row-gap: 1em;
    justify-items: start;
    background-color: #ffffff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 16rem;
    grid-column: 1/4;
    grid-row: 1/5;
}

.sec-image
{
    grid-area: sec-image;
    background-image: url("sec-city.png");
    background-size: cover;
    background-position: center;
    position: relative; 
    align-items: center;
    justify-content: center;
    grid-column: 3/6;
    grid-row: 2/4;
}

.card-3 p
{
    max-height: fit-content;
    max-width: fit-content;
    overflow: hidden;
    margin-right: 20%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


/* cont-2 */

.cont-2
{
    display:grid;
    grid-template-areas: "first-col sec-col";
    grid-column-gap: 1em;
    background-color: #e6001f;
    padding: 2% 10%;
    grid-column-gap: 20%;
}

.first-col
{
    grid-area: first-col;
    grid-row: 1;
    grid-column: 1/2;
    display: grid;
    grid-template-areas:
        'person-img'
        'name-title'
        'job';
    align-items: center;
    align-content: center;
    justify-items: left;
    justify-content: left;
    justify-self: left;
}

.person-img
{
    grid-area: person-img;
    background-image: url("person.png");
    align-content: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
    align-self: center;
    
    
}

.name-title
{
    grid-area: name-title;
    font-size: 24pt;
    color: rgba(255, 255, 255, 255);;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    align-self: center;
    justify-self: center;
} 

.job
{
    grid-area: job;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    align-self: center;
    justify-self: center;
} 

.sec-col
{
    grid-area: sec-col;
    grid-row: 1;
    grid-column: 2/5;
    display: grid;
    grid-template-areas:
        'sec-col-head'
        'p1'
        'p2'
        'white-button';
    align-items: center;
    align-content: center;
    justify-items: left;
    justify-content: left;
    justify-self: left;
    grid-row: 1;
    grid-column: 2/4;
}

.sec-col-head
{
    grid-area: sec-col-head;
    font-size: 36px;
    color: rgba(255, 255, 255, 255);;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: left;
    align-self: center;
    justify-self: left;

}

.p1
{
    grid-area: p1;
    color: rgba(255, 255, 255, 255);;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: left;
    align-self: center;
    justify-self: left;
}

.p2
{
    grid-area: p2;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: left;
    align-self: center;
    justify-self: left;
}

.white-button
{
    grid-area: white-button;
    background-color: #e6001f;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 18px;
    color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: left;
    justify-self: left;
    padding: 0px 0px;
}