.LandingPage {
    display:grid;
    grid-row-gap: 1em;
    background-color: #ececed;
    padding: 2% 10%;
}


.twoColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}

.threeColumn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1em;
}

.fourColumn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.twoColumn>div {
    background: #fff;
    padding: 1em;
    text-justify: auto;
}

.threeColumn>div {
    background: #fff;
    padding: 1em;
    text-justify: auto;
}

.oneOverTwo {
    grid-column: 1/2;
}

.twoOverTwo {
    grid-column: 2/2;
}

.twoOverFourRow {
    grid-row: 2/4;
}

.twoOverThree {
    grid-column: 2/3;
}

.twoOverFour {
    grid-column: 2/4;
}
.twoOverFour {
    grid-column: 2/5;
}
.threeOverFour {
    grid-column: 3/4;
}

.fourColumn>img{
    align-self: center;
    justify-self: center;
}

.allCentre{
    align-self: center;
    justify-self: center;
}

.allThree {
    grid-column: 1/4;
}