#container {
    background-color: #ececed;
    padding: 40px 60px;
}

.DirectorsSpeechContainer {
    font-weight: bold;
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 60px;
}

.head-font {
    font-size: 30px;
    font-family: "AvenirLTStd";
    color: rgb( 0, 0, 0);
    text-align: left;
}

.sub-head-font1 {
    font-size: 30px;
    font-family: "Avenir";
    color: rgb( 149, 149, 150);
    text-align: left;
}

.paragraph-font {
    font-size: 18px;
    color: rgb( 149, 149, 149);
    font-family: "Avenir";
    justify-self: left;
    text-align: left;
}

.sub-p-font {
    font-size: 18px;
    font-family: "Avenir";
    color: rgb( 149, 148, 148);
    text-align: left;
}

.date-font {
    font-size: 16px;
    font-family: "Avenir";
    color: rgb( 149, 149, 149);
}


.sub-container {
    display: grid;
    grid-template-columns: 60% 27%;
    grid-gap: 100px;
}

.ellipse {
    border-radius: 50%;
    background-color: rgb( 230, 0, 31);
    width: 155px;
    height: 155px;
    margin: auto;
}

.profile{
    text-align: center;
}

.profile p{
    padding: 15px;
    color: black;
}

.sub-sub-head-font {
    font-size: 18px;
    font-family: "Avenir";
    color: rgb( 149, 149, 149);
    text-align: left;
}

.pdf-image {
    width: 38px;
    height: 38px;
    margin-right: 15px;
    vertical-align: middle;
}